<%# highlight the last added item %>

<% if line_item == @current_item %>
  <tr class="line-item-highlight" id=<%= "lineItem-#{line_item.id}" %>>
  <% else %>
    <tr id=<%= "lineItem-#{line_item.id}" %>>
    <% end %>

    <td class="text-right"><%= line_item.quantity %></td>
    <td>X</td>
    <td class="pr-2">
      <%= line_item.product.title %>
    </td>
    <td class="text-right font-bold">
      <%= number_to_currency(line_item.total_price) %>
    </td>
    <td class="ml-5 mt-3 inline-block rounded-lg px-2 text-white bg-green-600 h-7">
      <%= link_to "-", line_item, data: { turbo_method: :delete } %>
    </td>
  </tr>
